In [1]:
import pandas as pd
import os

In [2]:
# Path to the folder containing all of the excel files
folder_path = "../data/YR_all_dates"

# Initialize an empty list to store data
data = []

# Iterate over all files in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith(".xlsx"):
        # Construct the full file path
        file_path = os.path.join(folder_path, file_name)
        
        # Read the Excel file into a DataFrame
        df = pd.read_excel(file_path)
        
        # Append the DataFrame to the list
        data.append(df)

# Concatenate all files into one
concatenated_df = pd.concat(data, ignore_index=True)

# Save the concatenated DataFrame to a new Excel file
output_file = os.path.join(folder_path, "concatenated_output.xlsx")
concatenated_df.to_excel(output_file, index=False)

print(f"Concatenated file saved to: {output_file}")

Concatenated file saved to: ../data/YR_all_dates\concatenated_output.xlsx

In [3]:
df = pd.read_excel("../data/YR_all_dates/concatenated_output.xlsx")

In [4]:
df.head()

,DATE,AREA,BUILDING,ROOM,ROOM TYPE,GENDER,STATUS,LAST TENANCY END,LAST CHECKOUT
0,1-1-2022,ACADIA,2725,301,AP1HRD,E,CLEAN,2027-02-01,2020-10-19
1,1-1-2022,ACADIA,2725,502,AP1HRD,E,CLEAN,2027-02-01,2020-09-08
2,1-1-2022,ACADIA,2725,605,AP1HRD,E,CLEAN,2027-10-01,2021-08-30
3,1-1-2022,ACADIA,2725,707,AP1HR,E,CLEAN,2026-10-01,2021-07-07
4,1-1-2022,ACADIA,2725,907,AP1HR,E,CLEAN,2026-03-01,2021-11-15

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718674 entries, 0 to 718673
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              718674 non-null  object
 1   AREA              718674 non-null  object
 2   BUILDING          718674 non-null  object
 3   ROOM              718674 non-null  object
 4   ROOM TYPE         718674 non-null  object
 5   GENDER            718674 non-null  object
 6   STATUS            718674 non-null  object
 7   LAST TENANCY END  718674 non-null  datetime64[ns]
 8   LAST CHECKOUT     144135 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(7)
memory usage: 49.3+ MB