In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("../data/YR_all_dates/concatenated_output.xlsx")

In [3]:
df.head()

,DATE,AREA,BUILDING,ROOM,ROOM TYPE,GENDER,STATUS,LAST TENANCY END,LAST CHECKOUT
0,1-1-2022,ACADIA,2725,301,AP1HRD,E,CLEAN,2027-02-01,2020-10-19
1,1-1-2022,ACADIA,2725,502,AP1HRD,E,CLEAN,2027-02-01,2020-09-08
2,1-1-2022,ACADIA,2725,605,AP1HRD,E,CLEAN,2027-10-01,2021-08-30
3,1-1-2022,ACADIA,2725,707,AP1HR,E,CLEAN,2026-10-01,2021-07-07
4,1-1-2022,ACADIA,2725,907,AP1HR,E,CLEAN,2026-03-01,2021-11-15

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718674 entries, 0 to 718673
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              718674 non-null  object
 1   AREA              718674 non-null  object
 2   BUILDING          718674 non-null  object
 3   ROOM              718674 non-null  object
 4   ROOM TYPE         718674 non-null  object
 5   GENDER            718674 non-null  object
 6   STATUS            718674 non-null  object
 7   LAST TENANCY END  718674 non-null  datetime64[ns]
 8   LAST CHECKOUT     144135 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(7)
memory usage: 49.3+ MB

In [5]:
df['DATE'] = pd.to_datetime(df['DATE'], format='%d-%m-%Y')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718674 entries, 0 to 718673
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DATE              718674 non-null  datetime64[ns]
 1   AREA              718674 non-null  object
 2   BUILDING          718674 non-null  object
 3   ROOM              718674 non-null  object
 4   ROOM TYPE         718674 non-null  object
 5   GENDER            718674 non-null  object
 6   STATUS            718674 non-null  object
 7   LAST TENANCY END  718674 non-null  datetime64[ns]
 8   LAST CHECKOUT     144135 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(6)
memory usage: 49.3+ MB

In [7]:
df.describe()

,DATE,LAST TENANCY END,LAST CHECKOUT
count,718674,718674,144135
mean,2022-11-18 05:58:57.544979200,2025-07-05 10:49:07.648586240,2022-08-22 11:46:23.265689088
min,2021-11-01 00:00:00,2020-08-05 00:00:00,2017-04-28 00:00:00
25%,2022-03-18 00:00:00,2025-04-28 00:00:00,2022-01-15 00:00:00
50%,2022-10-02 00:00:00,2025-04-28 00:00:00,2022-08-26 00:00:00
75%,2023-06-12 00:00:00,2025-04-28 00:00:00,2023-08-28 00:00:00
max,2024-11-01 00:00:00,2099-09-01 00:00:00,2024-10-31 00:00:00